[run]
source = catalog
omit =*tests*

[report]
omit =
    catalog/apps.py
    locallib/wsgi.py
    locallib/urls_prometheus_wrapper.py
    catalog/views.py
    locallib/models.py 
    manage.py
    catalog/admin.py
    catalog/urls.py
    catalog/models.py
    locallib/urls.py